@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,italic,700,700italic);

:root {
  --vp-c-brand: #ff7340;
  --vp-c-brand-light: #ff5719;
  --vp-c-brand-lighter: #ff7340;
  --vp-c-brand-lighter: rgba(255, 135, 23, 0.25);
  --vp-c-brand-dark: #ff622d;
  --vp-c-brand-darker: #e23c00;
  
  --vp-home-hero-name-color: #09d8d8;
  --vp-button-brand-bg: #00baba;
  --vp-button-brand-hover-bg: #009999;
  --vp-button-brand-active-bg: #008888;


  --vp-c-sponsor: #fd1d7c;

  /* Typography */
  --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Stlye */
.custom-layout {
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  min-height: 400px;
  max-width: 1152px;
  margin: 6rem auto 0;
  border-radius: 10px;
}

.custom-layout h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.custom-layout .btn {
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-radius: 20px;
  padding: 0.5rem 1.4rem;
}

/* Removed borders between each sidebar option */
.VPDocAsideOutline .outline-link,
.VPSidebar .group + .group {
  border-top: none !important;
}

/* Shrinks gap between each menu option on sidebar */
.VPSidebarItem.level-0 {
  padding-bottom: 8px !important; /* adjust to taste */
}

/* BELOW IS FOR CHARGES */
.vp-doc {
  max-width: none !important;
}

.vp-doc .charges-container {
  max-width: none !important;
  width: 100% !important;
}

.charges-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
  max-width: none !important;
}

.charge {
  width: 330px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #3b3b3b;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.felony {
  height: 5px;
  width: 100%;
}

.charge.capital .felony { background-color: #b95759; box-shadow: 0 0 4px #b95759; }
.charge.felony-charge .felony { background-color: #ddcd65; box-shadow: 0 0 4px #ddcd65; }
.charge.misdemeanor .felony { background-color: #35c1a4; box-shadow: 0 0 4px #35c1a4; }

.charge-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
  margin: 10px
}

.charge-content::-webkit-scrollbar {
  width: 6px;
}
.charge-content::-webkit-scrollbar-thumb {
  background: #00baba;
  border-radius: 3px;
}
.charge-content::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.charge-description {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  color: #ddd;
  margin-top: 8px;
}

.charge-description strong {
  color: #fff;
  display: block;
  margin-bottom: 3px;
}

.charge-description ul {
  padding-left: 18px;
  margin: 6px 0 0;
}

.charge-description li {
  margin-bottom: 4px;
}

.charge-row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5px;
  word-wrap: break-word;
}

.charge-name { font-weight: bold; font-size: 14px; }
.principal { background-color: #f40505ff; }
.accomplice { background-color: #e75d07ff; }
.accessory { background-color: #0b846cff; }